@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 backgroundColor="black" class="display-4" color="red" >Welcome to Joni Project</h1>
    <p>Learn about <a href="https://www.youtube.com/watch?v=voVjgfH0p4A">building Web apps with ASP.NET Core</a>.</p>
</div>

