@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b> Welcome </b></h1>
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core"><b> building Web apps with ASP.NET Core? </b></a>.</p>
</div>
