@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<div class="striken" style="background: green;">
    <h1>Reuven Dagaga</h1>
</div>
<p>Use this page to detail your site's privacy policy.</p>

<div class="ruvi">
      <h1> I`m ruvi </h1>
     </div>
